body{
    padding: 0%;
    margin:0%;
    background: url("./../images/bannerbg.jpg") top;
    height: 100vh;
    background-size: cover;
    font-family: 'Pacifico', cursive;
    
    
}
nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 20px;
}
h3{
    color: #cb2d6f;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* font-weight: bolder; */
        width: 100%;
}
nav li a{
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 10px 40px;
    color:  #cb2d6f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    li a:hover{
        background-color:  #cb2d6f;
        color:#fff;
    }

h1{
    text-align: center;
    color:white;
    margin-top: 10%;
    line-height: 4rem;
    font-size: 8vh;
    font-weight: bold;

}
button a{
    text-decoration: none;
    font-weight: bold;
}
.login{
    width: 10%;
    margin-top: 10px;
    margin-left: 5px;

}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: 14px 28px;
    background-color:rgba(0, 0, 0, 0.301);
    width: 60%;
    margin-left: 18%;
    border-radius: 50px;
}

.login a{
    text-decoration: none;
    color:white;
}

button{
    width: 100%;
    height: 50px;
  background-color: #cb2d6f;
}
button:hover{
  background-color: white;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    background-color: #cb2d6f;    

}
@media screen and (max-width: 776px) {
.login{
    width: 35%;

}
    .login a{
        text-decoration: none;
    }
}
@media screen and (max-width: 523px) {
    .login button{
        margin-left: 15%;
        height: 70px;
}

.login h2{
    height: 30px;
}

}
/* @media screen and (max-width: 430px) {
    body{
        margin: 20px;
        text-align: center;
       margin-right:30%;
       
       
    }
    h1{
        margin-right: -90px;
    }
    h2 a{
        color: black;
        align-self: flex-end
    }
    .button{
        margin-top: 50%;
        
}

    
} */
@media screen and (max-width: 400px) {
    nav,ul{
        flex-direction: column; 
        height: auto;
         overflow: hidden;

    }
    nav{
            display: flex;
            margin: auto;
            width: 500px;
            align-items: flex-start
    }
   /* .site-name{
       align-self: center;
       margin-right: 200px
   } */
  
  
}
