body{
    margin:0;
    padding: 0;
    width: 100%;
     height:100%;
     background-color: #834065;
     /* background-color:green; */

}


section{
    margin:50px auto;
    background-color:rgb(216, 209, 209);
    width:55%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px

    
}

input[type="text"], input[type="password"]{
margin-top:10px;
line-height:35px;
width: 100%;
margin-right:10px;
padding-left: 5px;
}
 

h1{
    color:#0f292f;
    text-transform: uppercase;
    
}

h2{
    text-transform: uppercase;
}

#submit-btn{
   margin-top: 10px;
   width: 100%;
   height: 30px;
    background-color: #cb2d6f;
    font-size: 20px;
    color: #cccccc
}
form{
    width: 50%;
    background?-color: blue;
}