body{
    margin: 0;
    padding: 0;
    background-color:rgba(34, 2, 4, 0.603);
    width: 100%;
    height:100%;
    

}


.food-view {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 70%;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 5%; 
    background-color: #fff;
    /* overflow: hidden; */


}

.food-view:hover {
color: blue;
}
.food-view input{
    width: 20px;
}

 .food-view img{
   width: 50%; 
   height: 250px;
   background-color: #fff;
  
}

.container {
    padding: 2px 16px;
    background-color: #fff;
    
    
}
.container ol{
    line-height: 30PX;
 list-style-type: none;
 font-weight: bolder;
}

.delete{
    background-color: red;
    width:50%;
    height: 30px;
    margin-left: 40px;
    font-weight: bolder;
}

.accept{
    background-color: rgb(0, 128, 0);
    font-weight: bolder;
    width: 40%;


}
.decline{
    background-color:blue;
    margin-left: 20px;
    font-weight: bolder;
    width: 40%;

}
button a{
    text-decoration: none;
    color: black;
}

nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 20px;
    
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    flex-wrap: wrap;
    width: 100%;
    
}

nav li a{
margin-right: 10px;
text-decoration: none;
font-size: 20px;
display: block;
padding: 10px 40px;
color:  #cb2d6f;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a:hover{
     background-color: #cb2d6f;
     color:#fff;
     
}
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   background-color: #cb2d6f;
}




@media screen and (max-width: 589px) {
    nav,ul{
         flex-direction: column; 
        height: auto;
         overflow: hidden;

    }
    nav{
        margin: 0 auto;
        width: 90%;
    }
section{
    width: 100%;
}
.delete{
    width:100px;
    height: 30px;
}
  }
  @media screen and (max-width: 550px) {
  .food-view{
      width:70%;
      flex-direction:column; 
      display: flex;
      padding: 20px;
    


      }
  .food-view img{
        width:100%;
        margin: 2px;
    }
    .delete{
        width:100px;
        height: 30px;
    }
    
  }
  

    


  