body{
    background-color: #e9b1d0;
}

section h1{

    text-align: center;
}
#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
    
    
}


table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
td a:hover{
        background-color:  #cb2d6f;
        color:#fff;
}

 

#pend {
    color: #cb2d6f;
}

#complete {
color: green;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #834065;
    color: white;
}


.tables{
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

nav{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 20px;
    margin-top: -10px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    flex-wrap: wrap;
    width: 100%;
     
}

li a{
margin-right: 10px;
text-decoration: none;
font-size: 20px;
display: block;
padding: 10px 40px;
color:  #cb2d6f;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li a:hover{
     background-color: #cb2d6f;
     color:#fff;
     
}

table a{
    text-decoration: none;
    
}
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   background-color: #cb2d6f;
}
@media screen and (max-width: 800px) {
    nav,ul{
        flex-direction: column;
        height: auto;
    }
        .food-lists li{
            width: 90%;

    }     #table{
        width: 100%;
        
    }

    nav{
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
  }
}
 @media screen and (max-width: 440px) {
    #table{
         font-size: 14px;
   }
 }
 @media screen and (max-width: 375px) {
     #table{ font-size:14px;
     }
 }
  @media screen and (max-width: 360px) {
   #table{
         font-size: 12px;
         
       
}
@media screen and (max-width: 330px) {
    #table{
          padding: 15PX;
          margin: 15PX;
          font-size: 10px;
          
    }
 }
  }